<launch>
    <include file="$(find wake_word)/launch/wake_word.launch">
    </include>
    <include file="$(find zordon_stt)/launch/zordon_stt.launch">
    </include>
    <include file="$(find zordon_tts)/launch/zordon_tts.launch">
    </include>
    <include file="$(find zordon_nlu)/launch/rasa_nlu.launch">
    </include>
    <!--
    <node name="chatbot" pkg="zordon_chatbot" type="planner.py" output="screen" >
    </node>
     -->
</launch>
