<launch>
    <include file="$(find wake_word)/launch/wake_word.launch">
    </include>
    <include file="$(find voice)/launch/voice.launch">
    </include>
    <!-- <include file="$(find zordon_nlu)/launch/rasa_nlu.launch">
    </include> -->
    <node name="planner" pkg="chatbot" type="planner.py" output="screen" >
    </node>
</launch>
